<!DOCTYPE html>
<html lang="en" app="core">
<head>
    <meta charset="UTF-8">
    <title>app</title>
    <base href="/">
    <script src="static/components/angular/angular.js"></script>
    <script src="static/core/scripts/app.js"></script>
    <script src="static/components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="static/components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="static/components/angular-aria/angular-aria.min.js"></script>
    <script src="static/components/angular-animate/angular-animate.min.js"></script>
    <script src="static/components/angular-material/angular-material.min.js"></script>
    <link rel="stylesheet" href="static/components/angular-material/angular-material.min.css">
</head>
<body>
    <p>Home page here</p>
</body>
</html>
